
html {
  background: #c7d2db; 
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 110px;
  min-height: 100vh;
}

#c {
  min-height: 100%;
  position: relative;
}

.App-header {
  font-family: 'Ubuntu', sans-serif;
  height: 40px; 
  padding: 20px;
  padding-right: 0px;
  padding-left: 0px; 
  color: white;
  background-color: white;
  border-bottom: solid 2px #63a6e1; 
  width: 100%; 
  text-align: center; 
}

.footer {
  font-family: 'Ubuntu', sans-serif;
  height: 80px;
  padding: 15px; 
  padding-right: 0px; 
  padding-left: 0px; 
  font-size: 18px; 
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  background-color: white;
  border-top: solid 2px #63a6e1; 
  width: 100%; 
  position: absolute;
  bottom: 0;

}

.footer-name {
  display: block;
}

.footer-contact {
  display: flex;
  align-items: center;
  text-align: center;
}


.block.footermark {
  margin: 0 auto; 
}

a {
  text-decoration: none;
}

.footerlogo{
  width: 200px; 
  padding:15px;
}

.column {
  display:flex;
  flex-direction:column;
  width: 25%;
  margin: 0 auto;
}

.block {
  display:block; 
  margin: 0 auto; 
}

.square {
  width:13%;
  height:40px;
  margin-left:10px;
  margin-right:0px;
  font-size:15px;
}

.tab-row {
  margin-right: 0px; 
  padding-right: 30px;
  float: right;
  vertical-align: middle;
  width: 60%; 
}

.title {
  color: #bf4d28;
  margin-left: 15px; 
  font-size: 18px;
  vertical-align: middle;
  padding-top: 10px;
  float:left;
  visibility: visible;
}

.title-mobile {
  color: #63a6e1;
  font-size: 18px;
  vertical-align: middle;
  float:middle;
  visibility: hidden;
  height:0px; 
  width: 0px; 
}

.left-header {
  margin:0; 
  padding:0; 
  float: left;
  margin-top: -15px;
  max-width: 110px; 
}

.logo {
  width:100%; 
  vertical-align: middle; 
  max-height: 70px; 
}

.no-upcoming-events {
  text-align: left; 
  padding: 20px; 
  padding-left: 0px; 
  font-size: 15px; 
  color: rgb(97, 96, 96); 
}

.contactitem.small {
  padding: 10px;
  display: inline-block;
  width: 30%;
}

@media only screen and (max-width: 1350px) {
  .title {
    visibility: hidden;
    height: 0px; 
  }

  .tab-row {
 
  
    width: 88%;
  }

  .square {
    font-size: 13px;
  }

  .left-header {
    width: 8%
  }
}

@media only screen and (max-width: 900px) {
  .square {
    font-size: 12px;
    margin-left: 5px; 
    height: 25px; 
  }

  .tab-row {
    width: 87%;
  }

  .footer { 
    font-size: 12px; 
  }
}


@media only screen and (max-width: 700px) {

  .footerlogo {
   width: 100px; 
  }

  .left-header {
    visibility: hidden; 
    width: 0px; 
  }

  .title-mobile {
    visibility: visible;
    width: 100%;  
    height: 15px; 
    margin-top: 0px; 
    padding-bottom: 10px; 
  }

  .tab-row {
    padding-left: 5px; 
    padding-right: 5px; 
    width: 100%;
    margin-left: 10px; 
  }

  .App-header {
    height: 90px; 
  }

  .square {
    width: 22%; 
    margin-bottom: 10px; 
    height: 25px; 
    font-weight: bold;
  }
}

@media only screen and (max-width: 500px) {
  .footer-contact, .footer-events, .footerlogo {
    visibility: hidden;
    width: 0px; 
    height: 0px; 
  }

  .footer {
    height: 15px; 
  }

  body {
    padding-bottom: 30px; 
  }

  .footer-name {
    width: 60%; 
    margin: 0 auto; 
    padding: 0px; 
  }
}

@media only screen and (max-width: 400px) {
  .square {
    font-size: 11px; 
  }
}

@media only screen and (max-width: 364px) {
  .square {
    width: 40%; 
  }

  .App-header {
    height: 150px;  
  }
}

@media only screen and (max-width: 250px) {
  .title-mobile {
    font-size: 12px; 
  }
}